/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  /* background: #f1f1f1;  */
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(192, 192, 192); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(129, 129, 129); 
}

.container {
  background-color: #282c34;
  /* background-color: white; */
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.titlebar {
  height: 50px;
  width: 100%;
  min-width: 100vh;
  background-color: #ffffff;
  -webkit-user-select: none;
  -webkit-app-region: drag;
  display: flex;
  flex-direction: row;
  position: relative;
  z-index: 10;
  box-shadow: -1px 3px 5px 0px rgba(230,230,230,0.75);
-webkit-box-shadow: -1px 3px 5px 0px rgba(230,230,230,0.75);
-moz-box-shadow: -1px 3px 5px 0px rgba(230,230,230,0.75);
}

.main-area {
  background-color: #EEF0F2;
  display: flex;
  width: 100%;
  min-width: 100vh;
  flex-direction: row;
  flex-direction: row;
  overflow: hidden;
}

.main-container {
  height: calc(100vh - 57px);
  flex: 1;
  /* min-width: 100vh; */
  background-color: white;
  margin-top: 6px;
  border-top-left-radius: 8px;
  margin-left: 7px;
  z-index: 10;
  /* overflow: hidden; */
}

.main-sidebar {
  height: calc(100vh - 57px);
  /* height: 100vh; */
  /* width: 215px; */
  /* background-color: white; */
  margin-top: 6px;
  border-top-right-radius: 8px;
  /* padding: 3px 0 3px 0; */
  z-index: 10;
}

.close {
  height: 23px;
  width: 23px;
  -webkit-app-region: no-drag;
  display: flex;
  align-items: center;
  justify-content: center;
}

.close:hover {
  background-color: #E24C4B;
}

.close:active {
  background-color: #ca4343;
}

.minimize {
  height: 23px;
  width: 23px;
  -webkit-app-region: no-drag;
  display: flex;
  align-items: center;
  justify-content: center;
}

.minimize:hover {
  background-color: #ebebeb;
}

.minimize:active {
  background-color: #dddddd;
}

.closeIcon {
  height: 7px;
}

.minimizeIcon {
  height: 9px;
}

.search-bar-btn {
  height: 30px;
  width: 30px;
  left: 51px;
  -webkit-app-region: no-drag;
  transition: 0.3s;
  margin-top: auto;
  margin-bottom: auto;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  display: none;
}

.searchIcon {
  height: 13px;
}

.search-bar-btn:hover {
  background-color: #ebebeb;
}

.search-bar-btn:active {
  background-color: #dddddd;
}

.search-bar-inactive {
  height: 30px;
  width: 0px;
  background-color: #EEF0F2;
  left: 91px;
  transition: 0.2s;
  -webkit-app-region: no-drag;
  margin-top: auto;
  margin-bottom: auto;
}

.search-bar-active {
  height: 30px;
  width: 270px;
  background-color: #EEF0F2;
  left: 91px;
  transition: 0.2s;
  -webkit-app-region: no-drag;
  margin-top: auto;
  margin-bottom: auto;
  border-radius: 10px;
}

.search-bar-tf-inactive {
  height: 27px;
  width: 0px;
  background-color: transparent;
  border: 0px solid;
  outline: none;
  color: black;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 10px;
}

.search-bar-tf-active {
  height: 27px;
  width: 250px;
  background-color: transparent;
  border: 0px solid;
  outline: none;
  color: black;
  padding: 1.4px 10px 0 10px;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 10px;
  font-size: 11.5px;
  letter-spacing: .5px;
}

.search-bar-tf-active::placeholder {
  color: #cacaca;
  text-align: center;
}

.absolute-titlebar {
  position: absolute;
  top: 0px;
  display: flex;
  flex-direction: row-reverse;
  right: 65px;
  height: 50px;
}

.sidebar-child {
  height: 45px;
  width: 100%;
  max-height: 35px;
  transition: 0.2s;
  background-color: #373f64;
}

.sidebar-icon {
  height: 20px;
  margin-left: 15.5px;
  margin-top: 7px;
}

.sidebar-text-active {
  color: white;
  margin-left: 17px;
  white-space: pre-wrap;
}

.sidebar-child-absolute {
  position: absolute;
  width: 250px;
  display: flex;
  flex-direction: row;
}

.navigationAction {
  display: flex;
  flex-direction: row-reverse;
  position: absolute;
  right: 0;
}

.appTitle {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 17px;
  font-size: 19px;
  font-weight: bold;
}

.appTitlePlus {
  margin-top: 5px;
  margin-left: -1px;
  font-size: 22px;
  font-weight: bolder;
  color: #FE3D1B;
}

.main-sidebar-trending-section {
  height: 200px;
  width: 100%;
  background-color: white;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  margin-bottom: 7px;
}

.main-sidebar-subreddit-section {
  /* width: calc(100%- px); */
  height: calc(100% - 207px);
  /* flex: 1; */
  background-color: white;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  margin-bottom: 7px;
  display: flex;
  flex-direction: column;
  
  /* padding: 5px 0; */
}

.main-sidebar-subreddit-section-list {
  overflow-y: scroll;
}

.main-container-list-sort-area {
  width: 100%;
  height: 37px;
  border-bottom: 1px solid rgb(241, 241, 241);
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 10px 0 10px;
  
}

.main-container-list-sort-item {
  height: 100%;
  width: auto;
  padding: 0 15px;
  /* background-color: grey; */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  font-weight: 400;
  /* transition: .2s; */
  cursor: default;
}

.main-container-list-sort-item:hover {
  background-color: rgb(246, 246, 246);
}

.main-container-list-sort-item:active {
  background-color: rgb(228, 228, 228);
}

.main-container-list-sort-item-selected {
  font-weight: bold;
  color: #FE3D1B;
}

.main-container-list {
  /* height: 100vh; */
  /* width: 100%; */
  height: calc(100vh - 95.5px);
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  /* align-items: flex-start; */
  /* flex-direction: initial; */
  overflow-y: scroll;
}

.main-container-list-item {
  flex: 1;
  /* margin-left: auto;
  margin-right: auto; */
  height: 80px;
  border-bottom: .5px solid rgb(241, 241, 241);
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 20px;
  cursor: default;
}
.main-container-list-item:hover {
  background-color: rgb(250, 250, 250);
}

.main-container-list-item-voting {
  height: auto;
  min-width: 40px;
  max-width: 40px;
  /* background-color: grey; */
  padding: 10px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.upvote-img {
  height: 16px;
  width: 16px;
  transform: rotate(90deg);
  /* margin-bottom: 10px; */
  /* background-color: black; */
}

.downvote-img {
  height: 16px;
  width: 16px;
  transform: rotate(-90deg);
  /* background-color: black; */
}

.vote-count {
  font-size: 14px;
  margin: 3px 0;
}

.main-container-list-item-img {
  height: 65px;
  min-width: 130px;
  max-width: 130px;
  background-color: rgb(218, 218, 218);
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 17px;
  object-fit: cover;
}

.main-container-list-item-detail {
  margin-left: 15px;
}

.main-container-list-item-title {
  font-size: 15px;
  font-weight: 600;
  /* text-overflow: ellipsis;
  overflow: hidden;  */
  /* display: inline-block; */
    /* width: calc(100% - 200px); */
    /* white-space: nowr  ap; */
    overflow: hidden !important;
    text-overflow: ellipsis;
  max-height: 40px;
}

.main-container-list-item-time {
  font-size: 12px;
  margin-top: 5px;
}

.upvote-symbol {
  width: 0;
	height: 0;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-bottom: 11px solid rgb(114, 114, 114);
}

.downvote-symbol {
  width: 0;
	height: 0;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-bottom: 11px solid rgb(114, 114, 114);
  transform: rotate(180deg);
}

.vote-container {
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
}

.vote-container:hover {
  background-color: rgb(238, 238, 238);
}

.vote-container:active {
  background-color: rgb(228, 228, 228);
}

.subreddit-list-item {
  height: 25px;
  width: calc(100% - 30px);
  display: flex;
  align-items: center;
  padding: 5px 15px;
  margin-bottom: 5px;
  /* background-color: hotpink; */
  cursor: default;
}

.subreddit-list-item:hover {
  background-color: rgb(250, 250, 250);
}

.subreddit-list-item-name {
  font-weight: 500;
  font-size: 14px;
}

.main-sidebar-subreddit-section-title-area {
  width: calc(100%-20px);
  height: 37px;
  border-bottom: 1px solid rgb(241, 241, 241);
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 0px;
}

.main-sidebar-subreddit-section-title-area-title {
  height: 100%;
  width: auto;
  padding: 0 15px;
  /* background-color: grey; */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  font-weight: 600;
  /* transition: .2s; */
  cursor: default;
}

.main-container-floating-post {
  /* height: calc(100vh - 57px); */
  /* flex: 1; */
  /* min-width: 100vh; */
  position: absolute;
  top: 56px;
  right: 0;
  border-top-left-radius: 8px;
  height: 0;
  width: calc(100% - 227px);
  background-color: white;
  transition: .2s;
}

.main-container-floating-post-open {
  position: absolute;
  top: 56px;
  right: 0;
  border-top-left-radius: 8px;
  height: calc(100vh - 57px);
  width: calc(100% - 227px);
  background-color: white;
  transition: .5s;
}