.container {
  background-color: #282c34;
  /* background-color: white; */
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.titlebar {
  height: 50px;
  width: 100%;
  min-width: 100vh;
  background-color: #ffffff;
  -webkit-user-select: none;
  -webkit-app-region: drag;
  display: flex;
  flex-direction: row;
  box-shadow: 5px 10px #000;
}

.main-area {
  background-color: #EEF0F2;
  display: flex;
  width: 100%;
  min-width: 100vh;
  flex-direction: row;
}

.main-container {
  height: calc(100vh - 50px);
  width: 100%;
  min-width: 100vh;
}

.close {
  height: 30px;
  width: 35px;
  -webkit-app-region: no-drag;
}

.close:hover {
  background-color: #E24C4B;
}

.close:active {
  background-color: #ca4343;
}

.minimize {
  height: 30px;
  width: 35px;
  -webkit-app-region: no-drag;
}

.minimize:hover {
  background-color: #484a4f;
}

.minimize:active {
  background-color: #414347;
}

.closeIcon {
  height: 11.5px;
  margin-left: 11px;
  margin-top: 9px;
}

.minimizeIcon {
  height: 11.5px;
  margin-left: 11px;
  margin-top: 9px;
}

.search-bar-btn {
  height: 30px;
  width: 30px;
  left: 51px;
  -webkit-app-region: no-drag;
  transition: 0.3s;
  margin-top: auto;
  margin-bottom: auto;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchIcon {
  height: 13px;
}

.search-bar-btn:hover {
  background-color: #ebebeb;
}

.search-bar-btn:active {
  background-color: #dddddd;
}

.search-bar-inactive {
  height: 30px;
  width: 0px;
  background-color: #ebebeb;
  left: 91px;
  transition: 0.2s;
  -webkit-app-region: no-drag;
  margin-top: auto;
  margin-bottom: auto;
}

.search-bar-active {
  height: 30px;
  width: 270px;
  background-color: #ebebeb;
  left: 91px;
  transition: 0.2s;
  -webkit-app-region: no-drag;
  margin-top: auto;
  margin-bottom: auto;
}

.search-bar-tf-inactive {
  height: 27px;
  width: 0px;
  background-color: transparent;
  border: 0px solid;
  outline: none;
  color: black;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 10px;
}

.search-bar-tf-active {
  height: 27px;
  width: 260px;
  background-color: transparent;
  border: 0px solid;
  outline: none;
  color: black;
  padding: 1.4px 10px 0 10px;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 10px;
}

.absolute-titlebar {
  position: absolute;
  top: 0px;
  display: flex;
  flex-direction: row-reverse;
  right: 80px;
  height: 50px;
}

.sidebar-child {
  height: 45px;
  width: 100%;
  max-height: 35px;
  transition: 0.2s;
  background-color: #373f64;
}

.sidebar-icon {
  height: 20px;
  margin-left: 15.5px;
  margin-top: 7px;
}

.sidebar-text-active {
  color: white;
  margin-left: 17px;
  white-space: pre-wrap;
}

.sidebar-child-absolute {
  position: absolute;
  width: 250px;
  display: flex;
  flex-direction: row;
}

.navigationAction {
  display: flex;
  flex-direction: row-reverse;
  position: absolute;
  right: 0;
}

.appTitle {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 17px;
  font-size: 19px;
  font-weight: bold;
}

.appTitlePlus {
  margin-top: 5px;
  margin-left: -1px;
  font-size: 22px;
  font-weight: bolder;
  color: #FE3D1B;
}